USE [db_management_products]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 20/09/2025 16:47:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [varchar](100) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[deleted_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 20/09/2025 16:47:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[category_id] [int] NOT NULL,
	[product_name] [varchar](100) NOT NULL,
	[stok] [int] NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[deleted_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[categories] ON 

INSERT [dbo].[categories] ([id], [category_name], [created_at], [updated_at], [deleted_at]) VALUES (2, N'Electrical', CAST(N'2025-09-19T19:30:22.000' AS DateTime), CAST(N'2025-09-19T19:46:42.000' AS DateTime), NULL)
INSERT [dbo].[categories] ([id], [category_name], [created_at], [updated_at], [deleted_at]) VALUES (3, N'Engine', CAST(N'2025-09-19T19:47:18.000' AS DateTime), CAST(N'2025-09-19T19:47:18.000' AS DateTime), NULL)
INSERT [dbo].[categories] ([id], [category_name], [created_at], [updated_at], [deleted_at]) VALUES (4, N'Accessories', CAST(N'2025-09-19T19:47:46.000' AS DateTime), CAST(N'2025-09-19T19:47:46.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[categories] OFF
SET IDENTITY_INSERT [dbo].[products] ON 

INSERT [dbo].[products] ([id], [category_id], [product_name], [stok], [created_at], [updated_at], [deleted_at]) VALUES (1, 2, N'Accu', 65, CAST(N'2025-09-19T20:44:55.000' AS DateTime), CAST(N'2025-09-19T21:15:00.000' AS DateTime), NULL)
INSERT [dbo].[products] ([id], [category_id], [product_name], [stok], [created_at], [updated_at], [deleted_at]) VALUES (2, 5, N'Velg', 121, CAST(N'2025-09-19T20:51:19.000' AS DateTime), CAST(N'2025-09-20T07:20:09.000' AS DateTime), NULL)
INSERT [dbo].[products] ([id], [category_id], [product_name], [stok], [created_at], [updated_at], [deleted_at]) VALUES (3, 2, N'Accu', 72, CAST(N'2025-09-19T21:13:50.000' AS DateTime), CAST(N'2025-09-19T21:15:53.000' AS DateTime), CAST(N'2025-09-19T21:15:53.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[products] OFF
ALTER TABLE [dbo].[categories] ADD  DEFAULT (NULL) FOR [created_at]
GO
ALTER TABLE [dbo].[categories] ADD  DEFAULT (NULL) FOR [updated_at]
GO
ALTER TABLE [dbo].[categories] ADD  DEFAULT (NULL) FOR [deleted_at]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT (NULL) FOR [created_at]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT (NULL) FOR [updated_at]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT (NULL) FOR [deleted_at]
GO
